/*------------------------------------*\
  #GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: "montserrat", sans-serif;
  color: #FFFFFF;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  background-color: #1A1A1A;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::selection {
  background: #1271BB;
  color: white;
  text-shadow: none;
}

/*------------------------------------*\
  #Elements
\*------------------------------------*/

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1 {
  font-size: 36px;
  line-height: 48px;
  margin: 0 0 24px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 49px;
  margin: 0 0 8px;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  opacity: 0.7;
  line-height: 24px;
  margin: 0 0 0;
}

h4,
h5,
h6 {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  margin: 32px 0 24px;
  text-align: center;
}

/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
  position: relative;
  padding: 64px 16px 0;
  display: flow-root;
}

/* size modifiers */

.o-row--lg {
  position: relative;
  padding: 32px 40px 0;
  display: flow-root;
}

.o-row--xl {
  position: relative;
  padding: -8px 0 0;
  display: flow-root;
}



/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 360px;
  /* 90 * 16px = 1440px */
}

/*
    Component: CTA link
    ---
    Small cta link with custom animation
*/

.c-link-cta {
 
  padding: 24px;
  padding-bottom: 34px;
  border-radius: 30px;
  background: #44494C ;
  border-color: #44494C;
  text-align: center;
}

/*
    Component: select
    ---
    Component to customize select input
*/

.c-select {
  font-family: monteserrat, sans-serif;
  font-weight: 600;
  background-color: #1271BB;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  width: 248px;
  border-radius: 8px;
  border-color: #1271BB;
  padding-top: 2.5px; 
  padding-bottom: 3.5px;
  margin-top: 8px;
}

.c-select:hover {
  background-color: #0063B3;
}

/*
    Component: range
    ---
    Component to customise range input
*/

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 248px;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #44494C;
  height: 0.5rem;
  border-radius: 8px;
  margin-top: 8px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -6px;
  background-color: #1271BB;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 16px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-thumb {
  border: 1px solid #0063B3;
  outline: 3px solid #0063B3;
  outline-offset: 0.125rem;
}

/*
    Component: checkbox
    ---
    Component to customize checkbox input
*/
.c-container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  margin: 16px 0 24px;
  margin-left: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 248px;
}

.c-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.c-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  margin-top: -3px;
  margin-left: 16px;
  background-color: #44494C;
  border-radius: 16px;
}

.c-container:hover input~.c-checkmark {
  background-color: #B0B0B2;
}

.c-container input:checked~.c-checkmark {
  background-color: #1271BB;
}